<!DOCTYPE html>
<html>
  <head>
    <title>Characters</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <img src="/images/logo.jpg" alt="" height="150px" width="200px">
    </div>
    <h3>
        <%= characters.nombre %>
    </h3>
    
    
    
    
    
  </body>
</html>
