<!DOCTYPE html>
<html>
  <head>
    <title>DisneyAPP!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>DISNEY</h1>
    <p>Welcome to DisneyAPP</p>
  </body>
</html>
